<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Esta página es un proyecto de pr&aacute;ctica de MisionTic">
  <title>Tiquetes</title>
  <link rel="shortcut icon" href="../static/icons/Recurso 7 (convert.io).webp" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
  <header>
    <section class="section-logo">
        <div class="logo">
            <a href="#">
                <img src="icons/Recurso 7 (convert.io).webp" alt="Logo de vuelos">
            </a>
        </div>
    </section>
      <section class="section-aviones">
          <div class="user">
              <a href="/avion/create">
                  <img src="icons/usuario.webp" alt="Avion create">
                  <span>
                    Aviones
                </span>
              </a>
          </div>
      </section>
      <section class="section-user">
        <div class="user">
            <a href="#">
                <img src="icons/usuario.webp" alt="Logo de Usuario">
                <span>
                    Usuario
                </span>
            </a>
        </div>
    </section>
    <nav class="nav">
        <div class="nav__img--avion ">
            <a href="#" class="nav__img ">
                <img src="icons/vuelos.webp" alt="Icono de un avi&oacute;n">
                <span>
                    Ventas
                </span>
            </a>
        </div>
        <div class="active">
            <a href="/src/main/resources/templates/usuario/checking.html" class="nav__img ">
                <img src="icons/checked.webp" alt="Logo de check-in">
                <span>
                    Vuelos
                </span>
            </a>
        </div>
        <div>
            <a href="usuario\nosotros.html" class="nav__img">
                <img src="icons/control-de-trafico.webp" alt="Icono de control de tr&aacute;fico a&eacute;reo">
                <span>
                    Usuarios
                </span>
            </a>
        </div>
    </nav>
  </header>
  <main>
    <table>
        <caption>Avion</caption>
        <tbody>
            <tr>
                <th>Código</th>
                <th>Modelo</th>
                <th>Capacidad combo 1</th>
                <th>Capacidad combo 2 y 3</th>
                <th>Ubicación</th>
            </tr>
            <tr>
                <td>191919</td>
                <td>Boing 456</td>
                <td>10</td>
                <td>50</td>
                <td>Bogota</td>
            </tr>
            <tr th:each="avion:${avion}">
                <th scope="row" th:text="${avion.cod_avion}"></th>
                <td th:text="${avion.ubic}"></td>
                <td th:text="${avion.modelo}"></td>
                <td th:text="${avion.capa_plus}"></td>
                <td th:text="${avion.cap_ligmed}"></td>
                <td>
                    <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-pencil"></i></button>
                    <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
  </main>
</body>
</html>