<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="description" content="Esta página es un proyecto de pr&aacute;ctica de MisionTic">
    <title>Viaja F&aacute;cil;</title>
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="shortcut icon" href="CSS/icons/Recurso 7 (convert.io).webp" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/CSSControladorVuelos/indexControlador.css">
</head>
<body>
<header>`
    <section class="section-logo">
        <div class="logo">
            <a href="#">
                <img src="CSS/icons/Recurso 7 (convert.io).webp" alt="Logo de vuelos">
            </a>
        </div>
    </section>
    <section class="section-user">
        <div class="user">
            <a href="#">
                <img src="CSS/icons/vendedor.webp" alt="Logo de Usuario">
                <span>
                        Vendedor
                    </span>
            </a>
        </div>
    </section>
    <nav class="nav">
        <div >
            <a href="#" class="nav__img ">
                <img src="CSS/icons/ventas.webp" alt="Logo de check-in">
                <span>
                        Ventas
                    </span>
            </a>
        </div>
        <div class="nav__img--avion">
            <a href="#" class="nav__img ">
                <img src="CSS/icons/vuelos.webp" alt="Icono de un avi&oacute;n">
                <span>
                        Vuelos
                    </span>
            </a>
        </div>
        <div class="active">
            <a href="pasajero" class="nav__img">
                <img src="CSS/icons/usuario.webp" alt="Icono de control de tr&aacute;fico a&eacute;reo">
                <span>
                        Usuarios
                    </span>
            </a>
        </div>
    </nav>
</header>
<main>
        <h2 class="main-titulo">Pasajero</h2>
        <a href="/pasajero/crear"><Button class="button-formulario">Crear Pasajeros</Button></a>
        <section class="tabla">
            <section class="tabla__contenedor">
                <div class="tabla__contenido">

                    <div class="tabla__contenido-celdas tabla__encabezado">
                        <span class="tabla__encabezado-contenido">
                            Pasajero
                        </span>
                    </div>
                    <div class="tabla__contenido-celdas tabla__encabezado colum-6">
                        <span class="tabla__encabezado-contenido">
                            Tipo Identificaci&oacute;n
                        </span>
                    </div>
                    <div class="tabla__contenido-celdas tabla__encabezado">
                        <span class="tabla__encabezado-contenido">
                            Numero Identificaci&oacute;n
                        </span>
                    </div>
                    <div class="tabla__contenido-celdas tabla__encabezado">
                        <span class="tabla__encabezado-contenido">
                            Nombres Completos
                        </span>
                    </div>
                    <div class="tabla__contenido-celdas tabla__encabezado colum-4">
                        <span class="tabla__encabezado-contenido">
                            Correo
                        </span>
                    </div>
                    <div class="tabla__contenido-celdas tabla__encabezado colum-5">
                        <span class="tabla__encabezado-contenido">
                            Tel&eacute;fono
                        </span>
                    </div>
                    <div class="tabla__contenido-celdas tabla__encabezado">
                        <span class="tabla__encabezado-contenido">
                            Opciones
                        </span>
                    </div>
                </div>
                <div class="tabla__contenido" th:each="Pasajeros:${pasajero}">
                    <div class=" tabla__datos tabla__contenido-celdas">
                        <span class="tabla__datos-contenido" th:text="${Pasajeros.id_pasa}">

                        </span>
                    </div>
                    <div class=" tabla__datos tabla__contenido-celdas colum-6">
                        <span class="tabla__datos-contenido" th:text="${Pasajeros.cod_iden}">

                        </span>
                    </div>
                    <div class=" tabla__datos tabla__contenido-celdas">
                        <span class="tabla__datos-contenido" th:text="${Pasajeros.nom_comp}">

                        </span>
                    </div>
                    <div class=" tabla__datos tabla__contenido-celdas">
                        <span class="tabla__datos-contenido" th:text="${Pasajeros.nom_comp}" >

                        </span>
                    </div>
                    <div class=" tabla__datos tabla__contenido-celdas colum-4">
                        <span class="tabla__datos-contenido" th:text="${Pasajeros.corr}">

                        </span>
                    </div>
                    <div class=" tabla__datos tabla__contenido-celdas colum-5">
                        <span class="tabla__datos-contenido" th:text="${Pasajeros.tele}">

                        </span>
                    </div>
                    <div class=" tabla__datos tabla__contenido-celdas">
                        <span class="tabla__datos-contenido tabla__opciones ">
                            <a th:href="@{/pasajero/delete/{id}(id=${Pasajeros.id_pasa})}" class="opciones">
                                <img class="opciones--estilos" src="CSS/icons/borrar.webp" alt="eliminar"/>
                            </a>
                            <a th:href="@{/pasajero/edit/{id}(id=${Pasajeros.id_pasa})}" class="opciones">
                                <img class="opciones--estilos" src="CSS/icons/editar.webp" alt="Editar" />
                            </a>
                        </span>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <ul>
            <li>Team</li>
        </ul>
    </footer>
</body>
</html>