:root{
    --title1:2.4rem;
    --title2:1.6rem;
    --title3:1.4rem;
    --paragraph:1.2rem;
    --color-one:#D9299B;
    --color-two:#07C4D9;
    --color-three:#FFD514;
    --color-four:#0D0D0D;
    --color-five:#CCC;
    --color-six:#fcfcfa;
    --background:#fbfbff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--background);
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 270px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 140px;
    padding: 0px 20px;
}
/*header .header-section{
    grid-row: 1/2;
}*/
.nav{
    grid-column: 1/3;
    grid-row: 2/3;
}

/*estilos de header section*/
/*.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}*/
.section-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo a img{
    width: 95px;
    height: 78px;
}
.section-user{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
}
.user{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    place-content: center;
    width: 150px;
    height: 80px;
    background-color: var(--color-three);
    border-radius: 25px;
}

.user a{
    display: flex;
    align-items: center;
}
.user a span{
    width: 70px;
    height: 20px;
    font-size: var(--title2);
    font-weight: bold;
    color: var(--color-four);
}
.user a img{
    width: 40px;
    height: 40px; 
}
/*estilos de header nav*/

.nav{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px ;
}
.nav div{
    width: 110px;
    height: 90px;
    border-radius: 25px;
    display: grid;
    place-content: center;
}
.nav div:hover{
    border: 1px dashed var(--color-four);
}
.nav__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__img img{
    width: 40px;
    height: 40px;
}
.nav__img span{
    width: 70px;
    height: 20px;
    font-size: var(--title2);
    font-weight: bold;
    color: var(--color-four);
    text-align: center;
    padding-top: 5px;
}
.active{
    background-color: var(--color-two);
}
/*main*/
main{
    width: 100%;
    height: auto;
    margin: 20px;
}
.datosUsuario{
    min-width: 320px;
    max-width: 760px;
    height: auto;
    display: grid;
    place-content: center;
    justify-items: center;
    background-color: var(--color-three);
    padding: 20px;
    margin: 0 auto;
    border-radius: 25px;
}
.main-titulo{
    width: 100%;
    text-align: center;
    font-size: var(--title1);
}
.usuario{
    width: 70%;
    height: auto;
    display: grid;
    place-content: center;
}
.form-usuario{
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
    justify-items: center;
}
.form-usuario .input-big{
    height:100px;
}
.input--estilos{
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-six);
    padding: 5px;
    border: 1px dashed var(--color-four);
    border-radius: 5px;
    opacity: 1;
    margin: 10px;
}
.titulo-input{
    font-size: var(--paragraph);
}
.input{
    border: none;
    outline: none;
    font-size: var(--title3);
    font-weight: bold;
    width: 100%;
    height: 38px;
}
.botones{
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
    justify-items: center;
}
.button-formulario{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    font-size: var(--title2);
    font-weight: bold;
    border: 1px dashed var(--color-four);
    border-radius: 15px;
    margin: 10px;
}
.button-formulario:hover{
    background-color: var(--color-two);
}
main{
    width: 100%;
    height: auto;
    padding: 10px;
}

@media (min-width:1060px){
    header{
        display: grid;
        height: 150px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-row: 150px;
        padding: 0px 20px;
    }
    .section-logo{
        grid-column: 1/2;
    }
    .section-user{
        grid-column: 3/4;
    }
    header .nav{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}