:root{
    --title1:2.4rem;
    --title2:1.6rem;
    --title3:1.4rem;
    --paragraph:1.2rem;
    --color-one:#D9299B;
    --color-two:#07C4D9;
    --color-three:#FFD514;
    --color-four:#0D0D0D;
    --color-five:#CCC;
    --color-six:#fcfcfa;
    --background:#fbfbff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--background);
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 270px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 140px;
    padding: 0px 20px;
}
/*header .header-section{
    grid-row: 1/2;
}*/
.nav{
    grid-column: 1/3;
    grid-row: 2/3;
}

/*estilos de header section*/
/*.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}*/
.section-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo a img{
    width: 95px;
    height: 78px;
}
.section-user{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
}
.user{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    place-content: center;
    width: 150px;
    height: 80px;
    background-color: var(--color-three);
    border-radius: 25px;
}

.user a{
    display: flex;
    align-items: center;
}
.user a span{
    width: 70px;
    height: 20px;
    font-size: var(--title2);
    font-weight: bold;
    color: var(--color-four);
}
.user a img{
    width: 40px;
    height: 40px; 
}
/*estilos de header nav*/

.nav{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px ;
}
.nav div{
    width: 110px;
    height: 90px;
    border-radius: 25px;
    display: grid;
    place-content: center;
}
.nav div:hover{
    border: 1px dashed var(--color-four);
}
.nav__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__img img{
    width: 40px;
    height: 40px;
}
.nav__img span{
    width: 70px;
    height: 20px;
    font-size: var(--title2);
    font-weight: bold;
    color: var(--color-four);
    text-align: center;
    padding-top: 5px;
}
.active{
    background-color: var(--color-two);
}


main{
    width: 100%;
    height: auto;
    padding: 10px;
}
/*tablas*/
/*tabla contenedor*/
.tabla{
    width: 100%;
    display: grid;
    justify-items: center;
}
.main-titulo{
    font-size: var(--title1);
    text-align: center;
    margin: 20px;
}
.tabla__contenedor{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    background-color: var(--color-three);
}
.tabla__contenido{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-auto-rows: 50px;
    text-align: center;
}
.tabla__contenedor .colum-4, .tabla__contenedor .colum-5, .tabla__contenedor .colum-6{
    display: none;
}
.tabla__contenido-celdas{
    display: grid;
    place-content: center;
    border-bottom: 3px solid var(--color-four);
}
.tabla__encabezado{
    background-color: var(--color-two);
}
.tabla__encabezado span{
    font-size: var(--title3);
    font-weight: 500;
}
.tabla__datos{
    background-color: var(--color-six);
}
.tabla__datos span{
    font-size: var(--paragraph);
}
.opciones{
    width: 35px;
    height: 35px;
    margin: 0 5px;
}
.opciones--estilos{
    width:22px;
    height: 22px;
}
.opciones--estilos:hover{
    width: 30px;
    height: 30px;
}
.button-formulario{
    width: 230px;
    height: 50px;
    border: none;
    outline: none;
    font-size: var(--title2);
    font-weight: bold;
    border: 1px dashed var(--color-four);
    border-radius: 15px;
    margin: 10px;
}
.button-formulario:hover{
    background-color: var(--color-two);
}

@media (min-width:700px) {
    .tabla__contenido{
        grid-template-columns: 1fr 1fr  2fr  1fr;
    }
    .tabla__contenedor .colum-5{
        display: grid;
    }
}

@media (min-width:1060px){
    header{
        display: grid;
        height: 150px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-row: 150px;
        padding: 0px 20px;
    }
    .section-logo{
        grid-column: 1/2;
    }
    .section-user{
        grid-column: 3/4;
    }
    header .nav{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}