:root{
    --title1:2.4rem;
    --title2:1.6rem;
    --title3:1.4rem;
    --paragraph:1.2rem;
    --color-one:#D9299B;
    --color-two:#07C4D9;
    --color-three:#FFD514;
    --color-four:#0D0D0D;
    --color-five:#CCC;
    --color-six:#fcfcfa;
    --background:#fbfbff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--background);
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 270px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 140px;
    padding: 0px 20px;
}
/*header .header-section{
    grid-row: 1/2;
}*/
.nav{
    grid-column: 1/3;
    grid-row: 2/3;
}

/*estilos de header section*/
/*.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}*/
.section-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo a img{
    width: 95px;
    height: 78px;
}
.section-user{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
}
.user{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    place-content: center;
    width: 150px;
    height: 80px;
    background-color: var(--color-three);
    border-radius: 25px;
}

.user a{
    display: flex;
    align-items: center;
}
.user a span{
    width: 70px;
    height: 20px;
    font-size: var(--title2);
    font-weight: bold;
    color: var(--color-four);
}
.user a img{
    width: 40px;
    height: 40px; 
}
/*estilos de header nav*/

.nav{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px ;
}
.nav div{
    width: 110px;
    height: 90px;
    border-radius: 25px;
    display: grid;
    place-content: center;
}
.nav div:hover{
    border: 1px dashed var(--color-four);
}
.nav__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__img img{
    width: 40px;
    height: 40px;
}
.nav__img span{
    width: 70px;
    height: 20px;
    font-size: var(--title2);
    font-weight: bold;
    color: var(--color-four);
    text-align: center;
    padding-top: 5px;
}
.active{
    background-color: var(--color-two);
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
/*estilos de tablas*/
.tabla{
    min-width: 320px;
    max-width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-three);
    padding: 30px;
    border-radius: 25px;
}
.title{
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: var(--title1);
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
.tabla-vuelos{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin: 5px;
}
.tabla-vuelos div{
    width: auto;
    padding: 20px;
    border-radius: 5px;
}
.table-header{
    background-color:var(--color-two);
    padding: 30px 0px;
    opacity: 0.8;
}
.table-contend{
    background-color:var(--color-six);
    padding: 5px;
}
.table-header span{
    font-size: var(--title2);
    font-weight: bold;
}
.header-reserva, .header-telefono,.header-reserva__contenido, .header-telefono__contenido{
    display: none;
}
.table-contend span{
    font-size: var(--title3);
}


/* .vuelos{
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    border: 2px solid var(--color-four);
}
.vuelos-usuarios{
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5px;
    padding: 10px;
}
.vuelos-usuarios__contenido{
    display: grid;
    padding: 5px;
    grid-template-rows: 1fr 1fr;
    border: 2px solid var(--color-four);
}
.vuelos-usuarios__contenido-title{
    font-size: var(--paragraph);
}
.vuelos-usuarios__contenido-info{
    font-size: var(--title3);
    font-weight: 500;
}
.vuelos-usuarios__opciones-contendedor{
    border: 2px solid var(--color-four);
} */

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color:var(--color-three); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
/*iconos*/
.icon{
    width: 22px;
    height: 22px;
    padding: 2px;
    margin: 0 5px;
}
.icon:hover{
    width: 26px;
    height: 26px;
    background-color: var(--color-six);
    border-radius: 0px;
}
.button-formulario{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    font-size: var(--title2);
    font-weight: bold;
    border: 1px dashed var(--color-four);
    border-radius: 15px;
    margin: 20px;
}
.button-formulario:hover{
    background-color: var(--color-two);
} 
footer{
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 0px;
    background-color: var(--color-one);
}
@media (min-width:600px){
    .tabla-vuelos{
        gap: 5px;
    }
}
@media (min-width:800px){
    .tabla-vuelos{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    }
    .header-reserva, .header-telefono,.header-reserva__contenido, .header-telefono__contenido{
        display: block;
    }
}
@media (min-width:1060px){
    header{
        display: grid;
        height: 150px;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 0px 20px;
    }
    .section-logo{
        grid-column: 1/2;
    }
    .section-user{
        grid-column: 3/4;
    }
    header .nav{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}


