:root{
    --title1:2.4rem;
    --title2:1.6rem;
    --title3:1.4rem;
    --paragraph:1.2rem;
    --color-one:#D9299B;
    --color-two:#07C4D9;
    --color-three:#FFD514;
    --color-four:#0D0D0D;
    --color-five:#CCC;
    --color-six:#fcfcfa;
    --background:#fbfbff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--background);
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 270px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 140px;
    padding: 0px 20px;
}
/*header .header-section{
    grid-row: 1/2;
}*/
.nav{
    grid-column: 1/3;
    grid-row: 2/3;
}

/*estilos de header section*/
/*.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}*/
.section-logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo a img{
    width: 95px;
    height: 78px;
}
.section-user{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
}
.user{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    place-content: center;
    width: 150px;
    height: 80px;
    background-color: var(--color-three);
    border-radius: 25px;
}

.user a{
    display: flex;
    align-items: center;
}
.user a span{
    width: 70px;
    height: 20px;
    font-size: var(--title2);
    font-weight: bold;
    color: var(--color-four);
}
.user a img{
    width: 40px;
    height: 40px; 
}
/*estilos de header nav*/

.nav{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px ;
}
.nav div{
    width: 110px;
    height: 90px;
    border-radius: 25px;
    display: grid;
    place-content: center;
}
.nav div:hover{
    border: 1px dashed var(--color-four);
}
.nav__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__img img{
    width: 40px;
    height: 40px;
}
.nav__img span{
    width: 70px;
    height: 20px;
    font-size: var(--title2);
    font-weight: bold;
    color: var(--color-four);
    text-align: center;
    padding-top: 5px;
}
.active{
    background-color: var(--color-two);
}
/*secccion del main*/
main{
    width: 100%;
}
/*formulario*/
.search{
    width: 100%;
    height: 485px;
}
.search__background-back{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Img/5905182495_8fb6d03ebe_o.webp");
    image-rendering: optimizeSpeed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.search__background-front{
    width: 85%;
    height: 90%;
    background-color: var(--color-three);
    opacity: 0.9;
}
.form{
    display: grid; 
    place-content: center; 
    justify-items: center;
    padding: 15px;
}
.form__ida-vuelta{
    width: 260px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--title2);
    font-weight: bold;
    margin-bottom: 10px;
}

.form__ida-vuelta input{
    appearance: none;
    transition: 0.2s all linear;
    border: 2px solid var(--color-four) ;
    border-radius: 50%;
}
.form__ida-vuelta input:checked {
    border: 8px solid var(--color-two);
}
.form__ida-vuelta--2{
    margin-left: 20px;
}
.input--style-form{
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-six);
    padding: 5px;
    border: 1px dashed var(--color-four);
    border-radius: 5px;
    opacity: 1;
}
.input--style-form span{
    font-size: var(--paragraph);
}
.input--style-form input{
    border: none;
    outline: none;
    font-size: var(--title3);
    font-weight: bold;
    width: 100%;
    height: 38px;
}
.form__ciudadDestino{
    margin-bottom: 20px;
}
.form__fecha-vuelta{
    margin-bottom: 20px;
}
.form__clientes div{
    width: 70px;
}
.button-formulario{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    font-size: var(--title2);
    font-weight: bold;
    border: 1px dashed var(--color-four);
    border-radius: 15px;
    margin-top: 10px;
}
.button-formulario:hover{
    background-color: var(--color-two);
}

.lugares{
    width: auto;
    height: 300px;
    white-space: nowrap;
    overflow-y: hidden; 
    overflow-x: auto;
    margin-top: 80px;
    margin-bottom: 60px;
}
.lugares__ciudades{
    width: 300px;
    height: 292px;
    margin: 0px 15px 0px 10px;
    scroll-snap-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    border-radius: 20px;
}
.lugares__ciudades div{
    width: 140px;
    height: 30px;
    display: grid;
    place-content: center;
    background-color: var(--color-three);
    border-radius: 15px;
    margin: 10px;
}
.lugares__ciudades div span{
    width: 80%;
    height: 80%;
    font-size: var(--title3);
    text-align: center;
    font-weight: bold;
}

.cartagena{
    background-image: url(CSS/Img/pexels-promadik-travel-11642163.webp);
}
.santamarta{
    background-image: url(CSS/Img/santamarta.webp);
}
.bogota{
    background-image: url(CSS/Img/bogota2.webp);
}
.medellin{
    background-image: url(CSS/Img/medellin.webp);
}
.sanadres{
    background-image: url(CSS/Img/sanandres.webp);
}
.cali{
    background-image: url(CSS/Img/cali-g5ad73a180_640.webp);
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color:var(--color-three); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
footer{
    width: 100%;
    height: 200px;
    background-color: var(--color-one);
}
@media (min-width:910px) {
    .form{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 600px;
    }
    .form__ida-vuelta{
        width: 60%;
    }
    .form__clientes{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .search__background-front{
        height: 70%;
    }
}
@media (min-width:1060px){
    header{
        display: grid;
        height: 150px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-row: 150px;
        padding: 0px 20px;
    }
    .section-logo{
        grid-column: 1/2;
    }
    .section-user{
        grid-column: 3/4;
    }
    header .nav{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}
@media (min-width:1300px) {
    .form{
        margin: 0 auto;
        width: 100%;
    }
    .form__ida-vuelta{
        width: 100%;
    }
    .search__background-front{
        height: 70%;
    }
    .form__clientes{
        width: 7%;
    }
    .search__background-front{
        height: 50%;
    }
}

