<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Esta página es un proyecto de pr&aacute;ctica de MisionTic">
  <title>Viaja F&aacute;cil;</title>
  <link rel="stylesheet" href="CSS/main.css">
  <link rel="shortcut icon" href="CSS/icons/Recurso 7 (convert.io).webp" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/CSS/CSSControladorVuelos/Tarifa.css">
</head>
<body>
<header>
  <section class="section-logo">
    <div class="logo">
      <a href="#">
        <img src="CSS/icons/Recurso 7 (convert.io).webp" alt="Logo de vuelos">
      </a>
    </div>
  </section>
  <section class="section-user">
    <div class="user">
      <a href="#">
        <img src="CSS/icons/controladorDeVuelos.webp" alt="Logo de Usuario">
        <span>
                        Controlador
                    </span>
      </a>
    </div>
  </section>
  <nav class="nav">
    <div class="nav__img--avion ">
      <a href="/Plan_Vuelo" class="nav__img ">
        <img src="CSS/icons/vuelo.webp" alt="Icono de un avi&oacute;n">
        <span>
                        Vuelos
                    </span>
      </a>
    </div>
    <div>
      <a href="/ruta" class="nav__img">
        <img src="CSS/icons/rutas2png.webp" alt="Logo de check-in">
        <span>
                        Rutas
                    </span>
      </a>
    </div>
    <div>
      <a href="/tiquete" class="nav__img active">
        <img src="CSS/icons/aviones.webp" alt="Icono de control de tr&aacute;fico a&eacute;reo">
        <span>
                        Tiquetes
                    </span>
      </a>
    </div>
  </nav>
</header>
<main>
  <h2 class="main-titulo">Tarifas</h2>
  <a href="/tarifa/crear"><Button class="button-formulario">Crear Tarifa</Button></a>
  <section class="tabla">
    <section class="tabla__contenedor">
      <div class="tabla__contenido" >

          <div class="tabla__contenido-celdas tabla__encabezado">
                        <span class="tabla__encabezado-contenido">
                            C&oacute;digo Tarifa
                        </span>
          </div>
        <div class="tabla__contenido-celdas tabla__encabezado">
                        <span class="tabla__encabezado-contenido">
                            C&oacute;digo ruta
                        </span>
        </div>
        <div class="tabla__contenido-celdas tabla__encabezado">
                        <span class="tabla__encabezado-contenido">
                            C&oacute;digo Clase Tiquete
                        </span>
        </div>
        <div class="tabla__contenido-celdas tabla__encabezado colum-4">
                        <span class="tabla__encabezado-contenido">
                            Costo
                        </span>
        </div>
          <div class="tabla__contenido-celdas tabla__encabezado colum-4">
                        <span class="tabla__encabezado-contenido">
                            Opciones
                        </span>
          </div>
      </div>
      <div class="tabla__contenido" th:each="tarifa:${tarifas}">
        <div class=" tabla__datos tabla__contenido-celdas">
            <span class="tabla__datos-contenido" th:text="${tarifa.cod_tarifa}"></span>
        </div>
        <div class=" tabla__datos tabla__contenido-celdas">
            <span class="tabla__datos-contenido" th:text="${tarifa.id_ruta}"></span>
        </div>
        <div>
            <h1>
                Hola a todos voy a programar

            </h1>

        </div>
        <div class=" tabla__datos tabla__contenido-celdas">
            <span class="tabla__datos-contenido"th:text="${tarifa.cod_ctiq}"></span>
        </div>
        <div class=" tabla__datos tabla__contenido-celdas">
            <span class="tabla__datos-contenido"th:text="${tarifa.costo}"></span>
        </div>
        <div class=" tabla__datos tabla__contenido-celdas">
            <span class="tabla__datos-contenido tabla__opciones ">
                <a th:href="@{/tarifa/eliminar/{id}(id=${tarifa.cod_tarifa})}" class="opciones">
                    <img class="opciones--estilos" src="CSS/icons/borrar.webp" alt="eliminar"/>
                </a>
                <a  th:href="@{/tarifa/editar/{id}(id=${tarifa.cod_tarifa})}" class="opciones">
                    <img class="opciones--estilos" src="CSS/icons/editar.webp" alt="Editar"/>
                </a>
            </span>
        </div>
      </div>

    </section>
  </section>
</main>
<footer>
  <ul>
    <li>Team</li>
  </ul>
</footer>
</body>
</html>