<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> <!-- es para interactuar con el backend -->
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="description" content="Esta página es un proyecto de pr&aacute;ctica de MisionTic">
    <title>Viaja F&aacute;cil;</title>
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="shortcut icon" href="CSS/icons/Recurso 7 (convert.io).webp" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/CSSCliente/tiquete.css">
</head>
<body>
    <header>`
        <section class="section-logo">
            <div class="logo">
                <a href="#">
                    <img src="CSS/icons/Recurso 7 (convert.io).webp" alt="Logo de vuelos">
                </a>
            </div>
        </section>
        <section class="section-user">
            <div class="user">
                <a href="#">
                    <img src="CSS/icons/vendedor.webp" alt="Logo de Usuario">
                    <span>
                        Vendedor
                    </span>
                </a>
            </div>
        </section>
        <nav class="nav">
            <div >
                <a href="#" class="nav__img ">
                    <img src="CSS/icons/ventas.webp" alt="Logo de check-in">
                    <span>
                        Ventas
                    </span>
                </a>
            </div>
            <div class="nav__img--avion active">
                <a href="#" class="nav__img ">
                    <img src="CSS/icons/vuelos.webp" alt="Icono de un avi&oacute;n">
                    <span>
                        Vuelos
                    </span>
                </a>
            </div>
            <div>
                <a href="#" class="nav__img">
                    <img src="CSS/icons/usuario.webp" alt="Icono de control de tr&aacute;fico a&eacute;reo">
                    <span>
                        Usuarios
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <h2 class="title">Tiquetes</h2>
        <section class="tabla">
            <a href="/tiquete/crear"><Button class="button-formulario">Crear Tiquetes</Button></a>
            <div class="tabla-vuelos">
                <div class="header-asiento table-header">
                    <span>Asiento</span>
                </div>
                <div class="header-nombre table-header">
                    <span>Nombre</span>
                </div>
                <div class="header-reserva table-header">
                    <span>Reserva</span>
                </div>
                <div class="header-telefono table-header">
                    <span>Vuelo</span>
                </div>
                <div class="header-opciones table-header">
                    <span>Opciones</span>
                </div>
            </div>
            <div class="tabla-vuelos" th:each="vuelo:${vuelos}">
                <div class="table-contend header-asiento__contenido">
                    <span th:text="${vuelo.pue_asig}"></span>
                </div>
                <div class="table-contend header-nombre__contenido">
                    <span th:text="${vuelo.id_pasa}"></span>
                </div>
                <div class="table-contend header-reserva__contenido">
                    <span th:text="${vuelo.cod_ctiq}"></span>
                </div>
                <div class="table-contend header-telefono__contenido">
                    <span th:text="${vuelo.id_pvue}"></span>
                </div>
                <div class="table-contend header-opciones__contenido">
                    <a th:href="@{/tiquete/editar/{id}(id=${vuelo.id_tiqu})}"><img src="/icons/editar.webp" alt="" class="icon"></a>
                    <a th:href="@{/tiquete/eliminar/{id}(id=${vuelo.id_tiqu})}"><img src="/icons/borrar.webp" alt="" class="icon"></a>
                </div>                        
            </div>
        </section>
    </main>
    
   <footer>
        <ul>
            <li>Team</li>


            <li>Juana Bautista</li>
            <li>Sebastian Andres Mendoza Benjumea</li>
        </ul>
    </footer>
</body>
</html>