<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <meta name="description" content="Esta página es un proyecto de pr&aacute;ctica de MisionTic">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/241b032331.js" crossorigin="anonymous"></script>
  <title>Tiquetes</title>
  <link rel="shortcut icon" href="../static/icons/Recurso 7 (convert.io).webp" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
  <header>
    <section class="section-logo">
        <div class="logo">
            <a href="#">
                <img src="icons/Recurso 7 (convert.io).webp" alt="Logo de vuelos">
            </a>
        </div>
    </section>
    <section class="section-user">
        <div class="user">
            <a href="#">
                <img src="icons/usuario.webp" alt="Logo de Usuario">
                <span>
                    Usuario
                </span>
            </a>
        </div>
    </section>
    <nav class="nav">
        <div class="nav__img--avion ">
            <a href="#" class="nav__img ">
                <img src="icons/vuelos.webp" alt="Icono de un avi&oacute;n">
                <span>
                    Ventas
                </span>
            </a>
        </div>
        <div class="active">
            <a href="/src/main/resources/templates/usuario/checking.html" class="nav__img ">
                <img src="icons/checked.webp" alt="Logo de check-in">
                <span>
                    Vuelos
                </span>
            </a>
        </div>
        <div>
            <a href="usuario\nosotros.html" class="nav__img">
                <img src="icons/control-de-trafico.webp" alt="Icono de control de tr&aacute;fico a&eacute;reo">
                <span>
                    Usuario
                </span>
            </a>
        </div>
    </nav>
  </header>
  <main>
    <table>
        <caption>Flotas</caption>
        <tbody>
            <tr>
                <th>Tiquete</th>
                <th>Nombre</th>
                <th>Vuelo</th>
                <th>Estado tiquete</th>
                <th>Tarifa</th>
            </tr>
            <tr th:each="vuelo:${vuelos}">
                <td >191919</td>
                <td>Boing 456</td>
                <td>10</td>
                <td>50</td>
                <td>Bogota</td>
            </tr>
        </tbody>
    </table>

  </main>
</body>
</html>